{% extends 'base.html.twig' %}

{% block title %}Zmiana hasła{% endblock %}

{% block body %}
    <h1>Zmiana hasła</h1>

    {{ form_start(password_form) }}
        {{ form_widget(password_form) }}

        <button class="btn btn-primary" type="submit">
            Zmień hasło
        </button>
    {{ form_end(password_form) }}

    <a href="{{ path('app_profile') }}" class="btn btn-secondary">
    Powrót do profilu
</a>
{% endblock %}
