{% extends 'base.html.twig' %}

{% block title %}Strona główna{% endblock %}

{% block body %}
    <h1>Galeria zdjęć</h1>

    <p>Witaj w aplikacji galerii zdjęć.</p>

    <a href="{{ path('app_photo_index') }}" class="btn btn-primary">
        Przejdź do zdjęć
    </a>

    <a href="{{ path('app_gallery_index') }}" class="btn btn-secondary">
        Przejdź do galerii
    </a>
{% endblock %}
