{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>{{ 'comment.new'|trans }}</h1>

    {{ include('comment/_form.html.twig') }}

<a href="{{ path('app_comment_index') }}" class="btn btn-secondary">
    {{ 'action.back_to_list'|trans }}
</a>
{% endblock %}
