<form method="post"
      action="{{ path('app_photo_delete', {'id': photo.id}) }}"
      onsubmit="return confirm('Czy na pewno chcesz usunąć to zdjęcie?');">

    <input type="hidden"
           name="_token"
           value="{{ csrf_token('delete' ~ photo.id) }}">

    <button class="btn btn-danger">
        {{ 'action.delete'|trans }}
    </button>
</form>
