{% extends 'base.html.twig' %}

{% block title %}Nowe zdjęcie{% endblock %}

{% block body %}
    <h1>{{ 'photo.new'|trans }}</h1>

    {{ include('photo/_form.html.twig') }}

<a href="{{ path('app_photo_index') }}" class="btn btn-secondary">
    {{ 'action.back_to_list'|trans }}
</a>
{% endblock %}
