{% extends 'base.html.twig' %}

{% block title %}Nowa galeria{% endblock %}

{% block body %}
    <h1>{{ 'gallery.new'|trans }}</h1>

    {{ include('gallery/_form.html.twig') }}

    <a href="{{ path('app_gallery_index') }}">{{ 'action.back_to_list'|trans }}</a>
{% endblock %}
