{% extends 'base.html.twig' %}

{% block title %}New Tag{% endblock %}

{% block body %}
    <h1>{{ 'tag.new'|trans }}</h1>

    {{ include('tag/_form.html.twig') }}

<a href="{{ path('app_tag_index') }}" class="btn btn-secondary">
    {{ 'action.back_to_list'|trans }}
</a>
{% endblock %}
