{% extends 'base.html.twig' %}

{% block title %}Usuwanie użytkownika{% endblock %}

{% block body %}
    <h1>Usuwanie użytkownika</h1>

    <p>
        Czy na pewno chcesz usunąć użytkownika "{{ user.email }}"?
    </p>

    {{ include('user/_delete_form.html.twig') }}

    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-secondary">
        Anuluj
    </a>
{% endblock %}
