{% extends 'base.html.twig' %}

{% block title %}Nowy użytkownik{% endblock %}

{% block body %}
    <h1>{{ 'user.new'|trans }}</h1>

    {{ include('user/_form.html.twig') }}

<a href="{{ path('app_user_index') }}" class="btn btn-secondary">
    {{ 'action.back_to_list'|trans }}
</a>
{% endblock %}
