{% extends 'base.html.twig' %}

{% block title %}Zmiana hasła{% endblock %}

{% block body %}
    <h1>Zmiana hasła użytkownika</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btn-primary">
            Zmień hasło
        </button>
    {{ form_end(form) }}

    <br>

    <a href="{{ path('app_user_index') }}">
        Powrót do listy
    </a>
{% endblock %}
